<header>
    <img src="img/logo.png"/>
    <nav>
        <a href="/sobre">Sobre</a>
    </nav>
</header>
<main>
    <section class="cards">
        <section class="card">
                <h1>Seja bem vindo ao Eletric Helper!</h1>
                <p>Irei te ajudar a dimensionar materiais de instalação elétrica. Vamos nessa?</p>
                <button> Próximo </button>
        </section>

        {{!-- AQUI IMPLEMENTAR ALGORITMO QUE VAI INSERIR DE FORMA AUTOMÀTICA, TALVEZ CONSUMINDO A PROPRIA API --}}
        <section class="card">
            <form action="/calcular">
                <h1>Seja bem vindo ao Eletric Helper!</h1>
                <p>Irei te ajudar a dimensionar materiais de instalação elétrica. Vamos nessa?</p>
                <button type="submit"> Próximo </button>
            </form>
        </section>
    </section>
</main>